/* Global Variables */
body {
    background-color: #eee;
}

h5 {
    font-size: 1em;
}

h3 {
    font-weight: 700;
}

/* Custom Classes */

#intro-wrapper {
    background-color: white;
}

.intro-card {
    min-height: 400px;
}

.invisible {
    display: none;
}

.gif {
    opacity: 0.8;
}

#gif-area {
    margin-top: 1em;
}

.gif:hover {
    opacity: 1;
}

.fullopacity {
    opacity: 1;
}
.left-nav {
    position: fixed;
    padding: 0.53em 0.5em 1em 1em !important;
    width: 280px;
    overflow-y: scroll;
    top: 0px;
    bottom: 0;
    z-index: 100;
}

.left-nav-dead {
    -ms-flex: 0 0 280px;
    flex: 0 0 280px;
}
#surprise-me {
    margin-top: 1em;
    margin-bottom: 1em;
}

#topic-area {
    padding: 0.3em;
}

.main-area {
    overflow-y: scroll;
    height: 100%;
    padding: 1em !important;
}

.icon-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    pointer-events: none;
}

.autocomplete div {
    text-transform: capitalize;
}


/* Bootstrap/Font Awesome Overrides */
.card-group {
    border-bottom: 1px solid #ccc;
}


.card {
    border: none;
}

.left-nav-wrapper {
    padding-top: 1.25em;
}

.dog-bio {
    min-height: 220px;
    border-radius: 0px !important;
    background-color: transparent !important;
}

#dog-pic {
    background-size: cover !important;
}

.intro-text {
    text-transform: none !important;
}

#dog-bio-title, #dog-bio-text {
    line-height: 1.5;
}

#gif-area .card-body {
    background-color: #fff;
}

.card-title {
    text-transform: capitalize;
}
.gif-text {
    color: #999;
    font-size: 0.9em;
}

.navbar {
    z-index: 9999;
}

.dog-card {
    text-transform:capitalize;
    padding: 1em;
    background-color: #eee;
}
.dog-card-added {
    text-transform:capitalize;
    padding: 1em;
    background-color: #eee;
}

.dog-button {
    text-transform:capitalize;
    padding: 1em;
    background-color: #eee;
    border: 0;
}

.dog-card-title {
    line-height: 1em;
}

.container-fluid,.row, .col, .col-12,.col-2, .col-4, .col-10 {
    padding: 0;
    margin: 0;
}

.fa-dog {
    padding-right: 0.5em;
}

.fa-play {
    font-size: 3em;
    color: #fff;
    text-shadow: 0 0 10px black;
}

.frame::-webkit-scrollbar {
    -webkit-appearance: none;
}

.frame::-webkit-scrollbar {
    width: 10px;
}

.frame::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.4);
}
/* .frame::-webkit-scrollbar-track { 
    background-color: rgba(43, 77, 80, 0.4);
} */

.autocomplete {
    position: relative;
    display: inline-block;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9; 
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }


/* Media Queries */

@media (max-width: 1000px) {
    .left-nav {
        display: none; 
      } 
      .left-nav-dead {
        display:none;
      }
}
@media (min-width: 500px) {
    .card-columns {
        -webkit-column-count:1;
        -moz-column-count:1;
        column-count:1;
    }
  }

@media (min-width: 600px) {
    .card-columns {
        -webkit-column-count:2;
        -moz-column-count:2;
        column-count:2;
    }
  }


@media (min-width: 1000px) {
    .card-columns {
        -webkit-column-count:3;
        -moz-column-count:3;
        column-count:3;
    }
  }

  @media (min-width: 1400px) {
    .card-columns {
        -webkit-column-count:4;
        -moz-column-count:4;
        column-count:4;
    }
  }

  
  


